<%- include('../partials/top', {title :'Password Reset Successful'}); %>
<!-- START CENTERED WHITE CONTAINER -->
<table role="presentation" class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
      <td class="wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p>Hi <%= name %>,</p>
              <p>You've successfully updated your password for your account.</p>
              <br/>  
              <small>If you did not change your password, reset it from your account.</small>
              <br/>
              <p>Thanks.</p>
              <p>The Node Genius App.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  <!-- END MAIN CONTENT AREA -->
  </table>
  <!-- END CENTERED WHITE CONTAINER -->
    
<%- include('../partials/bottom'); %>